body {
  margin: 0;
  padding: 0;
  border: none;
}

#canvas {
  display: block;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 3px solid #813b2c;
  background: url(../background.jpg) center center no-repeat;
  opacity: 0.8;
}
